[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Comment="RSS and Atom feed agregator in desktop widgets + notifications"
Name=FeedAgregator
Exec=feedagregator
Terminal=false
Type=Application
Categories=Network
StartupNotify=false
Icon=feedagregator
